{% extends 'base.html.twig' %}

{% block body %}
    {#{{ dump(errors) }}#}

    <table class="striped bordered">
        {# Itterate throuh errors #}
        <thead>
        <th>
            Application
        </th>
        <th>
            ENV
        </th>
        <th>
            Method
        </th>
        <th>
            Message
        </th>
        <th>
            Occurred
        </th>
        <th>
            Actions
        </th>
        </thead>
        {% for error in errors %}
            <tr>
                <td>
                    <div class="chip">
                        {{ error.app }}
                    </div>
                </td>
                <td>
                    <div class="chip">
                        {{ error.env }}
                    </div>
                </td>
                <td>
                    <div class="chip">
                        {{ error.method }}
                    </div>
                </td>
                <td>
                    {{ error.message }}
                </td>
                <td>
                    {{ error.occurred.date|time_diff }}
                </td>
                <td>
                    <a href="{{ path('show_error', {'id': error.id}) }}"><i class="material-icons circle">visibility</i></a>
                    <a href="#"><i class="material-icons circle">done_all</i></a>
                </td>
            </tr>
        {% endfor %}
     </table>

    {# total items count #}
    {#<div class="count">#}
        {#{{ errors }}#}
    {#</div>#}
    {#<table>#}
        {#<tr>#}
            {# sorting of properties based on query components #}
            {#<th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>#}
            {#<th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>#}
            {#<th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>#}
        {#</tr>#}

        {# table body #}
        {#{% for article in pagination %}#}
            {#<tr {% if loop.index is odd %}class="color"{% endif %}>#}
                {#<td>{{ article.id }}</td>#}
                {#<td>{{ article.title }}</td>#}
                {#<td>{{ article.date | date('Y-m-d') }}, {{ article.time | date('H:i:s') }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#</table>#}


    {# display navigation #}
    {#{{ errors.getTotalItemCount() }}#}
    {#<div class="navigation">#}
        {{ knp_pagination_render(errors) }}
    {#</div>#}
{% endblock %}
