{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">

        <div class="content column medium-12">
            <ul class="tabs text-center" data-tabs id="example-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true"> <i class="material-icons circle cyan">folder</i>General</a></li>
                <li class="tabs-title"><a href="#panel2"><i class="material-icons circle red">rss_feed</i> Backtrace</a></li>
                <li class="tabs-title"><a href="#panel3"><i class="material-icons circle cyan">fingerprint</i> Session</a></li>
                <li class="tabs-title"><a href="#panel4"><i class="material-icons circle cyan">input</i> POST</a></li>
                <li class="tabs-title"><a href="#panel5"><i class="material-icons circle">brightness_low</i> Cookies</a></li>
                <li class="tabs-title"><a href="#panel6"><i class="material-icons circle cyan">cloud</i> Server</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="example-tabs">
                <div class="tabs-panel is-active" id="panel1">

                    <div class="column medium-12">
                        <ul class="pricing-table no-bullet">
                            <li class="title">{{ error.url }}</li>
                            <li class="price">{{ error.message }}</li>
                            <li class="description">
                                {% if error.occurred is defined %}
                                    {{ error.occurred.toDateTime|date('Y-m-d H:i:s') }} <br />
                                    {{ error.occurred.toDateTime|time_diff }}
                            </li>
                            {% endif %}
                            </li>
                            <li>
                                <div class="label">
                                    APP: <strong>{{ error.app }}</strong>
                                </div>
                            </li>

                            {% if errors.getTotalItemCount() > 0 %}
                            <li>
                                <div class="label alert">
                                    SAME: {{ errors.getTotalItemCount() }}
                                </div>
                            </li>
                            {% endif %}

                            {% if error.env is defined %}
                                <li>
                                    <div class="label">
                                        ENV: <strong>{{ error.env }}</strong>
                                    </div>
                                </li>
                            {% endif %}

                            {% if error.method is defined %}
                                <li>
                                    <div class="label">
                                        METHOD: <strong>{{ error.method }}</strong>
                                    </div>
                                </li>
                            {% endif %}

                            {% if error.user is defined %}
                                <li>
                                    <div class="label">
                                        USER: <strong>{{ error.user }}</strong>
                                    </div>
                                </li>
                            {% endif %}

                            <li>
                                {% if error.ips is defined %}
                                    {% for ip in error.ips %}
                                        <span class="label"> {{ ip }} </span>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                    <div class="clearfix"></div>

                </div>
                <div class="tabs-panel" id="panel2">
                    {% if error.backtrace is defined %}
                        <p class="backtrace">
                            {{ error.backtrace|nl2br }}
                        </p>
                    {% endif %}
                </div>
                <div class="tabs-panel" id="panel3">
                    {% if error.parametersSession is defined %}
                        <table>
                            {% for key,session in error.parametersSession %}
                                <tr>
                                    <td> <strong>{{ key }}</strong> </td>
                                    <td> {{ session }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tabs-panel" id="panel4">
                    {% if error.parametersPost is defined %}
                        <table>
                            {% for post in error.parametersPost %}
                                <tr>
                                    <td> <strong>{{ post.key }}</strong> </td>
                                    <td> {{ post.value }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tabs-panel" id="panel5">
                    {% if error.parametersCookie is defined  %}
                        <table>
                            {% for key,cookie in error.parametersCookie %}
                                <tr>
                                    <td> <strong>{{ key }}</strong> </td>
                                    <td> {{ cookie }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
                <div class="tabs-panel" id="panel6">
                    {% if error.serverEnv is defined %}
                        <table>
                            {% for key,server in error.serverEnv %}
                                <tr>
                                    <td> <strong>{{ key }}</strong> </td>
                                    <td> {{ server }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if errors.getTotalItemCount() > 0 %}
            <div class="content">
                <h4> The same: {{ errors.getTotalItemCount() }} errors </h4>
                <table class="hover stack">
                    {# Itterate throuh errors #}
                    <thead>
                    <th>
                        App
                    </th>
                    <th>
                        ENV
                    </th>
                    <th>
                        Method
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Occurred
                    </th>
                    <th>
                        Actions
                    </th>
                    </thead>
                    {% for error in errors %}
                        <tr>
                            <td class="">
                                <span class="secondary label">{{ error.app }}</span>
                            </td>
                            <td class="">
                                <span class="secondary label">{{ error.env }}</span>
                            </td>
                            <td class="">
                                {% if error.method|lower == "get" %}
                                    <span class="success label">{{ error.method }}</span>
                                {% elseif error.method|lower == "post" %}
                                    <span class="warning label">{{ error.method }}</span>
                                {% elseif error.method|lower == "put" %}
                                    <span class="warning label">{{ error.method }}</span>
                                {% elseif error.method|lower == "delete" %}
                                    <span class="secondary label">{{ error.method }}</span>
                                {% elseif error.method|lower == "update" %}
                                    <span class="secondary label">{{ error.method }}</span>
                                {% else %}
                                    <span class="alert label">{{ error.method }}</span>
                                {% endif %}
                            </td>
                            <td class="medium-7">
                                {{ error.message }}
                            </td>
                            <td class="medium-2">
                                {{ error.occurred.toDateTime|time_diff }}
                            </td>
                            <td class="medium-1">
                                <a href="{{ path('show_error', {'id': error.id}) }}"><i class="material-icons circle">visibility</i></a>
                                <a href="{{ path('error_fix_like_this', {'id': error.id}) }}"><i class="material-icons circle">done_all</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(errors) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
