{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <div style="margin-top: 3%"></div>

        <div class="chip green">
            APP: <strong>{{ error.app }}</strong>
        </div>

        {% if error.env is defined %}
            <div class="chip">
                ENV: <strong>{{ error.env }}</strong>
            </div>
        {% endif %}

        {% if error.method is defined %}
            <div class="chip red">
                METHOD: <strong>{{ error.method }}</strong>
            </div>
        {% endif %}

        {% if error.user is defined %}
            <div class="chip cyan">
                USER: <strong>{{ error.user }}</strong>
            </div>
        {% endif %}

        <div class="chip">
            SAME: {{ errors.getTotalItemCount() }}
        </div>

        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle red">message</i>
                <span class="title"><strong>Message</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        {{ error.message }} <br />
                        <i>AT: <a href="{{ error.url }}">{{ error.url }}</a></i>
                    </div>
                </div>
            </li>
            {% if error.ips is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">language</i>
                    <span class="title"><strong>IP Addresses</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <ul>
                                {% for ip in error.ips %}
                                    <li> {{ ip }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.occurred is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">av_timer</i>
                    <span class="title"><strong>Occurred</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            {{ error.occurred.date|date('Y-m-d H:i:s') }} <br />
                            {{ error.occurred.date|time_diff }}
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.backtrace is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle red">rss_feed</i>
                    <span class="title"><strong>Backtrace</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <p>
                                {{ error.backtrace|nl2br }}
                            </p>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.parametersPost is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle cyan">swap_calls</i>
                    <span class="title"><strong>POST</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <table>
                                {% for post in error.parametersPost %}
                                    <tr>
                                        <td> <strong>{{ post.key }}</strong> </td>
                                        <td> {{ post.value }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.parametersCookie is defined  %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">swap_calls</i>
                    <span class="title"><strong>COOKIES</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <table class="bordered">
                                {% for key,cookie in error.parametersCookie %}
                                    <tr>
                                        <td> <strong>{{ key }}</strong> </td>
                                        <td> {{ cookie }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.parametersSession is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle">swap_calls</i>
                    <span class="title"><strong>SESSION</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <table>
                                {% for key,session in error.parametersSession %}
                                    <tr>
                                        <td> <strong>{{ key }}</strong> </td>
                                        <td> {{ session }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if error.serverEnv is defined %}
                <li class="collection-item avatar">
                    <i class="material-icons circle green">web</i>
                    <span class="title"><strong>SERVER</strong></span>
                    <div class="card">
                        <div class="card-content grey darken-4 cyan-text text-lighten-5">
                            <table>
                                {% for key,server in error.serverEnv %}
                                    <tr>
                                        <td> <strong>{{ key }}</strong> </td>
                                        <td> {{ server }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </li>
            {% endif %}
        </ul>

        {% if errors.getTotalItemCount() > 0 %}
            <div class="container">
                <h4> There is the same {{ errors.getTotalItemCount() }} errors </h4>
                <table class="striped bordered">
                    {# Itterate throuh errors #}
                    <thead>
                    <th>
                        Method
                    </th>
                    <th>
                        Message
                    </th>
                    <th>
                        Occurred
                    </th>
                    <th>
                        Actions
                    </th>
                    </thead>
                    {% for error in errors %}
                        <tr>
                            <td>
                                <div class="chip">
                                    {{ error.method }}
                                </div>
                            </td>
                            <td>
                                {{ error.message }}
                            </td>
                            <td>
                                {{ error.occurred.date|time_diff }}
                            </td>
                            <td>
                                <a href="{{ path('show_error', {'id': error.id}) }}"><i class="material-icons circle">visibility</i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                {{ knp_pagination_render(errors) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
