<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">#}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('foundation/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('foundation/css/foundation.min.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>


        <div class="top-bar" id="navigation-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Error Retention <small> v1.0 </small></li>
                    <li>
                        <a href="{{ path('homepage') }}"> <i class="material-icons">folder</i> List errors</a>
                    </li>
                    <li>
                        <a href="{{ path('error_clear_index') }}"> <i class="material-icons">delete</i> Clear errors</a>
                    </li>
                    <li>
                        <a href="{{ path('error_stats') }}"> <i class="material-icons">equalizer</i> Error statistics </a>
                    </li>
                    <li>
                        <a href="{{ path('error_stats_fixes') }}"> <i class="material-icons">equalizer</i> Fixes statistics </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content" style="padding: 2%">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('foundation/js/vendor/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ asset('foundation/js/vendor/foundation.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('foundation/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
