{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

        <div style="margin-top: 3%"></div>

        <div class="chip green">
            APP: <strong>{{ error.app }}</strong>
        </div>

        <div class="chip">
            ENV: <strong>{{ error.env }}</strong>
        </div>

        <div class="chip red">
            METHOD: <strong>{{ error.method }}</strong>
        </div>

        <div class="chip cyan">
            USER: <strong>{{ error.user }}</strong>
        </div>

        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle red">message</i>
                <span class="title"><strong>Message</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        {{ error.message }} <br />
                        <i>AT: <a href="{{ error.url }}">{{ error.url }}</a></i>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">language</i>
                <span class="title"><strong>IP Addresses</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <ul>
                            {% for ip in error.ips %}
                                <li> {{ ip.ip }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">av_timer</i>
                <span class="title"><strong>Occurred</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        {{ error.occurred|date('Y-m-d H:i:s') }}
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">rss_feed</i>
                <span class="title"><strong>Backtrace</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <p>
                            {{ error.backtrace|nl2br }}
                        </p>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle cyan">swap_calls</i>
                <span class="title"><strong>POST</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <table>
                            {% for post in error.parametersSession %}
                                <tr>
                                    <td> <strong>{{ post.key }}</strong> </td>
                                    <td> {{ post.value }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">swap_calls</i>
                <span class="title"><strong>COOKIES</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <table class="bordered">
                            {% for cookie in error.parametersCookie %}
                                <tr>
                                    <td> <strong>{{ cookie.key }}</strong> </td>
                                    <td> {{ cookie.value }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle">swap_calls</i>
                <span class="title"><strong>SESSION</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <table>
                            {% for session in error.parametersSession %}
                                <tr>
                                    <td> <strong>{{ session.key }}</strong> </td>
                                    <td> {{ session.value }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">web</i>
                <span class="title"><strong>SERVER</strong></span>
                <div class="card">
                    <div class="card-content grey darken-4 cyan-text text-lighten-5">
                        <table>
                            {% for server in error.serverEnv %}
                                <tr>
                                    <td> <strong>{{ server.key }}</strong> </td>
                                    <td> {{ server.value }} </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
